* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

/* Resto de tu código CSS sigue aquí */

nav {
  background-color: transparent;
  padding: 10px 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}

/* Estilos para el menú de navegación */
.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center; /* Centrar el menú */
}

/* Estilos para los elementos del menú */
.menu li {
  margin: 0 20px;
  position: relative;
  display: inline-block;
}

/* Estilos para los enlaces del menú */
.menu a {
  color: #333;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s ease;
}

/* Estilos para el hover de los enlaces del menú */
.menu a:hover {
  color: #ff4321;
}

/* Estilos para los submenús */
.submenu, .submenuTablas {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  padding: 20px;
  list-style: none;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.submenu li, .submenuTablas li {
  margin-right: 20px;
}

/* Estilos para el hover de los enlaces dentro del submenú */
.submenu li a:hover, .submenuTablas li a:hover {
  color: #ff4321;
}

/* Estilos para el contenedor principal */
.container {
  display: flex;
  flex-direction: column; /* Cambiado a columna para centrar el contenido verticalmente */
  align-items: center;
  margin: 20px auto; /* Auto en lugar de 20px para centrar horizontalmente */
  padding: 20px;
  position: relative;
}


/* Estilos para el título principal */
h1 {
  font-size: 4.5rem;
  margin: 40px 0 0 0;
  color: #ffa113;
}

/* Estilos para la imagen */
/* Estilos para la imagen */
img[src="NutriFormulas.png"] {
  width: 100vw; /* Ancho del 100% del viewport width */
  height: 100vh; /* Altura del 100% del viewport height */
  object-fit: cover; /* Cubre toda la pantalla manteniendo la proporción de la imagen */
  border-radius: 10px;
  box-shadow: 2px 2px 5px #888888;
  border: none; /* Elimina cualquier borde existente */
}

/* Estilos para la presentación */
.presentation {
  text-align: center;
}

.presentation img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 2px 2px 5px #888888;
}

.image-text {
  margin-top: 20px;
  font-size: 2.5rem;
  text-align: center; /* Centrar el texto */
}

/* Estilos para el cuadro de información */
.info-box {
  background-color: #fff;
  padding: 10px;
  text-align: center; /* Centrar el contenido */
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.info-box p {
  font-size: 1.8rem;
  color: #333;
}

.clear {
  clear: both;
}

/* Estilos para el contenedor de la imagen */
.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ajusta la altura según tu diseño */
}

/* Estilos para la imagen dentro del contenedor */
.image-container img {
  width: 100%; /* Ajusta el ancho según tu diseño */
  border-radius: 10px;
  box-shadow: 2px 2px 5px #888888;
}
